/* Default settings */

body {
  /*font-family: 16px/1.6 "Open Sans" ,Georgia, serif;*/
  font-family: Arial;
  margin: 0;
  overflow: auto;
  background-color: rgb(250, 250, 250);
}

button, input[type=button] {
  background-color: #4CAF50; /* Green */
  width: 100%;
  border: none;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
} button:focus, input[type=button]:focus {
  outline: none;
}

/* Utility Fix */
.hidden {
  display: none;
}

.wrap-wrap-fix {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Instead use this non-standard one: */
  word-break: break-word;
}

/* Components */
#aSide {
  position: fixed;
  top: 0;
  let: 0;
  width: 70px;
  height: 100%;
  background-color: rgb(38, 57, 86);
}

#content {
  position: relative;
  left: calc(70px + 4px);
  height: 100%;
  width: calc(100% - (70px + 4px));
  overflow-x:auto;
}


#preloaded {
  background-color: #263956;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: white;
} #preloaded .container {
  margin: auto;
  padding-top: 30vh;
  position: relative;
  height: 200px;
} #preloaded img {
  height: 20vh;
} #preloaded .title {
  margin-top: 3vh;
  font-size: 5vh;
} #preloaded .loading {
  margin-top: 1.5vh;
  opacity: 0.6;
  font-size: 2.5vh;
}
