.media {
  display: inline-block;
  margin: 7px;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0.2px 0.5px 5px 0 rgba(0,0,0,0.3);
  font-size: 0.9em;
}

.media a {
  text-decoration:none;
  color: black;
  opacity: 0.8;
}
