<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Notify</title>
  <link href="../styles/index.css" rel="stylesheet" type="text/css">
</head>

<body class="wrap-wrap-fix">
  <!-- Modal -->
  <div class="modal container hidden">
    <div class="overlay"></div>
    <div class="content">
      <div class="login"></div>
    </div>
  </div>

  <div id="loading" class="modal container">
    <div class="overlay"></div>
    <div class="content loading">
      <img src="../assets/loading.gif">
      <p>Loading</p>
    </div>
  </div>


  <div class="nav"></div>
  <div id="content">
    <ul id="announcements"></ul>
    <script id="announcement" type="x-tmpl-mustache">
      <div class="announcement">

        <div class="heading js-collapsible-toggle">
          <table>
            <tr>
              <td class="module-code">
                <div>
                  <span class="verticle">{{CourseCode}}</span>
                </div>
              </td>
              <td class="title">{{Title}}</div></td>
            </tr>
          </table>

        </div>
        <div class="description js-collapsible-target">
          <div class="row">
            {{{Description}}}
          </div>
        </div>
      </div>
    </script>
  </div>

  <script>require('../scripts/index.js')</script>
</body>
</html>
