<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Notify</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Oxygen:700" rel="stylesheet">
    <link href="./styles/base.css" rel="stylesheet" >
    <script>
      if (!(process.env.NODE_ENV === 'development')) {
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = '../dist/style.css';
        document.write(link.outerHTML);
      }
    </script>
  </head>
  <body class="wrap-wrap-fix">
    <div id="react-target">
      <div id="preloaded">
        <div class="container">
          <img src="../app.ico">
          <div class="title">NUS Notify</div>
          <div class="loading">loading</div>
        </div>
      </div>
    </div>
    <script>
      {
        const script = document.createElement('script');
        const port = process.env.PORT || 3030;
        script.src = (process.env.NODE_ENV === 'development') ? `http://localhost:${port}/dist/bundle.js` : '../dist/bundle.js';
        document.write(script.outerHTML);
      }
    </script>
  </body>
</html>
