.announcement {
  margin: 12px;
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.09);
}

.title {
  background-color: rgb(155, 236, 255);
  color: rgba(0,0,0,0.8);
  padding: 15px 15px;
  font-family: Oxygen;
  font-weight: 700;
  font-size: 1.1em;
}

.content {
  font-family: 'Arimo';
  margin: 15px;
  overflow-x:auto;
  word-spacing: .08rem;
  max-width: 40rem;
  line-height: 1.4;
}

.announcement .description .content img {
  max-width: 100%;
  height: auto !important;
}

..expanded {
  max-height: 9000px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.collapsed {
  max-height: 0px;
  overflow: hidden;
  transition: all 1s ease-in-out -0.8s;
}
