/* Default settings */

body {
  /*font-family: 16px/1.6 "Open Sans" ,Georgia, serif;*/
  font-family: Arial;
  margin: 0;
  overflow: scroll;
}

/* Components */
.modal .content {
  position: fixed;
  width: 400px;
  background-color: #EEE;
  z-index: 120;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 100px;
}
.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.85);
  z-index:100;
}

/* Utility Fix */
.hidden {
  display: none;
}

.wrap-wrap-fix {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* normaliser */
table {
  border-spacing: 0;
} table td {
  padding: 0;
  height: 100%;
}


/* App Specific */

#announcements {
  margin: 0;
  padding: 0;
} #announcements li {
  list-style: none;
} #announcements li:not(:first-child):not(:last-child) {
  margin: 0;
}

.announcement {
  background-color: white;
} .announcement .heading {
  background-color: #EEEEEE;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
} #announcements li:nth-child(odd) .heading {
  background-color: #EEEEEE;
} .announcement .heading .module-code {
  text-align: center;
  background-color: rgba(30,30,30,0.15);
  color: rgb(80, 80, 80);
  font-size: 0.6em;
  padding: 20px 3px;
  width: 38px;
} .announcement .heading .title {
  padding: 10px 5px;
  padding-left: 10px;
} .announcement .description {
  padding: 15px 15px;
  padding-left: calc(38px + 12px + 6px);
  word-spacing: .1rem;
  max-width: 45rem;
  line-height: 1.4;
  background-color: #FEFEFE;
  display:none;
} .announcement:hover, .announcement:active,.announcement:focus,.announcement.is-expanded{
  transition: all .4s;
}


.modal .loading {
  padding-top: 40px;
  text-align: center;
  background-color: rgba(0,0,0,0);
} .modal .loading p {
  font-size: 1.6em;
  color: white;
} .modal .loading img {
  width: 30%;
}



/* Scrollbar */
::-webkit-scrollbar {
  display: none; width: 7px;
}
::-webkit-scrollbar-button {
  background: #EEEEEE;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: none;
  border-left: 4px solid rgba(255,255,255,0.7);
}
::-webkit-scrollbar-track {
  background: #EEEEEE;
}
